<header>
	<%= render 'books/list', books: @books %>
</header>

<main calss="main-edit">
 <div class="mask">
 <p class="edit-title-title">Editing Book</p>
 <%= form_for(@book) do |f| %>
	<p class="edit-title-text">Title</p><span class="edit-title"><%= f.text_field :title %></span>
	<p class="edit-body-text">Body</p><span class="edit-body"><%= f.text_area :body, :size=>"100x5" %></span>
	<p><%= f.submit 'Update book' %></p>
 <% end %>

 <%= attachment_image_tag @book, :image, :fill, 300, 400, format: 'jpeg' %>

 <span><%= link_to "show", book_path(@book.id) %></span> | <span><%= link_to "back", books_path(@book.id) %></span>

</div>
</main>

<footer>
		<p class="footer-text">TEL :XXX-XXXX-XXXX</p>
		<p class="footer-text">E-mail :XXX@XXX
		<p class="footer-text">CopyRight Yuya Koyoshi</p>
</footer>

